<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
  </head>
  <body>
<div class="login-area">
  {% if check %}
   <a class="login-link" href="/blog">blog </a>|
   <a class="login-link" href="/newpost">post </a>|
   <a class="login-link" href="/map">map </a>|
   <a class="login-link" href="/logout">logout</a>
   <br>{{username}}</br>
  {% else %}
    <a class="login-link" href="/login">login</a>|
    <a class="login-link" href="/signup">signup</a>
  {% endif %}
</div>    
<a href="/blog" class="main-title">LASA Web Apps Blog</a>
    <div id="content">
      <!-- Python code embedded in HTML for Jinja2 engine -->
      {% for post in posts %}
      <div class="post">
        <div class="post-heading">
          <div class="post-title">{{post.subject}}</div>
	  <!-- see strftime.org, %X and %z are blank because its naive -->
          <div class="post-date">{{post.created.date().strftime("%A %B %d, %Y")}} {{post.created.time().strftime("%X %z")}}</div>
        </div>
        <div class="post-content">{{post.content}}</div>
      </div>
      {% endfor %}
  </body>
</html>


